@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "tailwind-animations";

.bg-grid {
  background-image:
    linear-gradient(to right, #3c3d41 1px, transparent 1px),
    linear-gradient(to bottom, #3c3d41 1px, transparent 1px);
  background-size: 150px 150px;
}

.text-burlywood {
  color: rgb(255, 145, 0);
}

.bg-burlywood {
  background-color: rgb(255, 145, 0);
}

html {
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 145, 0) #000;
}
